<div class="page-header">
<h1>Listing updates</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Doi</th>
      <th>Url</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @updates.each do |update| %>
      <tr>
        <td class="mw"><%= update.doi.name %></td>
        <td class="mw"><%= update.url %></td>
        <td class="mw"><%= update.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
